{% extends 'base.html' %}

{% block head %}
<title>Student Enrollment</title>
{% endblock%}

{% block body%}
<div class="content">
    <h1 style="text-align:center">Task Creation Form</h1>
    {% if tasks|length < 1 %}
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.studentname }}</td>
            <td>{{ task.dateCreated }}</td>
            <td>
                <a href="/update/{{ task.id }}">Update</a>
                <br>
                <a href="/delete/{{ task.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/" method="POST">
        <input type="text" , name="id", id="id">&emsp;&emsp;&emsp;&emsp;&emsp;
        <input type="text" , name="name", id="name">
        <input type="submit" value="Enroll Student">
    </form>
</div>


{% endblock%}