{% extends "base.html" %}
{% block body %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="text-primary mr-2">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
          </div>
          <h2 class="article-title">{{ post.title }}</h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
{% endblock body %}